@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin: 0; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section__title {
  color: #f9b43a;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.42;
  margin: 0; }
  .section__title--white {
    color: #ffffff; }
  @media screen and (max-width: 768px) {
    .section__title {
      white-space: nowrap; } }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 4rem; } }

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 40.625rem;
  will-change: transform;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.container {
  max-width: 58.75rem;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.button {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: inline-block; }
  .button:hover {
    background-color: #ce401a; }
  .button--clean {
    background-color: transparent;
    margin-left: 0.625rem; }

.nav-sidebar {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .nav-sidebar {
      display: none; } }

.nav-sidebar__link {
  position: relative;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: inline-block;
  vertical-align: middle;
  background: #ffffff; }
  .nav-sidebar__link:hover:before {
    content: '';
    position: absolute;
    height: 1.125rem;
    width: 1.125rem;
    top: 0;
    left: 0;
    -webkit-transform: translate(-38%, -38%);
    -ms-transform: translate(-38%, -38%);
    transform: translate(-38%, -38%);
    border-radius: 50%;
    border: 1px solid #cacaca;
    display: inline-block;
    vertical-align: middle; }

.nav-sidebar__link--active::before {
  content: '';
  position: absolute;
  height: 1.125rem;
  width: 1.125rem;
  top: 0;
  left: 0;
  -webkit-transform: translate(-38%, -38%);
  -ms-transform: translate(-38%, -38%);
  transform: translate(-38%, -38%);
  border-radius: 50%;
  border: 1px solid #cacaca;
  display: inline-block;
  vertical-align: middle; }

.arrow__img {
  width: 2.5rem;
  height: 2.5rem; }

.arrow__img--white {
  fill: #ffffff; }

.performance {
  background-image: url("../img/bg/bg-performance.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  padding: 0.9375rem 0 1.875rem; }

.container-performance {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin-right: auto; }

.logo {
  display: block; }

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hamburger-menu {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.75rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

@media screen and (max-width: 768px) {
  .header__nav {
    display: none; } }

.hamburger-menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.875rem;
  height: 1.875rem; }

.nav {
  margin-right: 1.25rem; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.42;
  display: inline-block;
  vertical-align: middle; }
  .nav__link::hover {
    text-decoration: underline; }

.performance__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .performance__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.performance__logo, .performance__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .performance__logo, .performance__description {
      width: 100%; } }

.performance__logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.performance__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.performance__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.performance__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .performance__description-text {
      font-size: 3.375rem; } }

.advantages {
  background-image: url("../img/bg/bg-advantage.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.section__title--advantages {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .advantages__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.advantages__item {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .advantages__item {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left; } }

.advantage__title {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.9375rem; }

.advantage__description {
  font-size: 0.875rem;
  font-weight: 18.75rem; }

.advantage__icon {
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 480px) {
    .advantage__icon {
      margin-right: 1.5625rem; } }

.advantage__img {
  width: 6.25rem;
  height: 6.25rem; }
  .advantage__img--green {
    fill: #8ac03e; }
  .advantage__img--red {
    fill: #e35028; }
  .advantage__img--yellow {
    fill: #f9b43a; }

.menu {
  background-image: url("../img/bg/bg-menu.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.section__title--menu {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  height: 100%;
  z-index: -1; }
  @media screen and (max-width: 480px) {
    .menu__item--active {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 100; } }
  .menu__item--active .menu__trigger {
    color: #f9b43a; }
  .menu__item--active .menu__content {
    width: 33.75rem; }
    @media screen and (max-width: 768px) {
      .menu__item--active .menu__content {
        width: 32.8125rem; } }
    @media screen and (max-width: 480px) {
      .menu__item--active .menu__content {
        width: 25rem; } }
  .menu__item--active .menu__title {
    z-index: 100; }

.menu__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }

.menu__title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100%;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  z-index: 2; }

.menu__content {
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93);
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s; }

.menu__text {
  font-weight: 300;
  font-size: 0.875rem;
  padding: 3.75rem 2.1875rem;
  width: 100%;
  min-width: 33.75rem; }
  @media screen and (max-width: 768px) {
    .menu__text {
      min-width: 32.8125rem; } }
  @media screen and (max-width: 480px) {
    .menu__text {
      min-width: 25rem; } }

.menu__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: none;
  height: 20px;
  width: 20px; }
  @media screen and (max-width: 480px) {
    .menu__close {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.burger-menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43a), color-stop(48%, #eb8c38), color-stop(74%, #f9b43a));
  background-image: -webkit-linear-gradient(#f9b43a, #eb8c38 48%, #f9b43a 74%);
  background-image: -o-linear-gradient(#f9b43a, #eb8c38 48%, #f9b43a 74%);
  background-image: linear-gradient(#f9b43a, #eb8c38 48%, #f9b43a 74%); }
  .burger-menu .section__title {
    line-height: 4rem;
    margin-bottom: 2.1875rem;
    white-space: normal; }
    @media screen and (max-width: 480px) {
      .burger-menu .section__title {
        font-size: 3.125rem; } }

.burger-menu__left,
.burger-menu__right {
  -ms-flex-negative: 3;
  flex-shrink: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.arrow__img--left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.arrow__img--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.container-burder-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.burger-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  width: 55rem; }
  @media screen and (max-width: 768px) {
    .burger-slider {
      width: 39.375rem; } }
  @media screen and (max-width: 480px) {
    .burger-slider {
      width: 23.125rem; } }

.burger-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  will-change: right;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s; }

.burger-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55rem; }
  @media screen and (max-width: 768px) {
    .burger-slider__item {
      width: 39.375rem; } }
  @media screen and (max-width: 480px) {
    .burger-slider__item {
      width: 23.125rem; } }

.burger-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burger-menu__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.burger-menu__logo {
  position: relative; }
  @media screen and (max-width: 768px) {
    .burger-menu__logo {
      padding-top: 9.375rem; } }
  @media screen and (max-width: 480px) {
    .burger-menu__logo {
      padding-top: 6.25rem; } }

.burger-menu__logo,
.burger-menu__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burger-menu__logo,
    .burger-menu__description {
      width: 100%; } }

.burger-menu__logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .burger-menu__logo {
      margin-bottom: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .burger-menu__logo {
      margin-bottom: 1.875rem; } }

.burger-menu__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.burger-menu__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .burger-menu__description {
      text-align: center; } }

.burger-menu__description-text {
  color: #fff;
  font-weight: 300;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 480px) {
    .burger-menu__description-text {
      margin-bottom: 1.5625rem; } }

.burger-menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.burger-menu__price-sum,
.burger-menu__price_currency {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  color: #e45028; }

.burger-menu__price-sum {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-right: 5px; }
  @media screen and (max-width: 480px) {
    .burger-menu__price-sum {
      font-size: 3.125rem; } }

.burger-menu__price_currency {
  font-size: 1.875rem;
  text-transform: lowercase;
  margin-right: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .burger-menu__price_currency {
      font-size: 1.5rem; } }

.burger-consist {
  position: absolute;
  top: 0;
  left: 0; }

.burger-consist__button {
  width: 90px;
  height: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #f08c33;
  border-radius: 5px;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px; }
  @media screen and (max-width: 480px) {
    .burger-consist__button {
      width: 85px;
      height: 85px; } }
  .burger-consist__button:hover {
    background-color: #e35028; }
    .burger-consist__button:hover .recipe {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }

.burger-consist__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.burger-consist__img {
  fill: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burger-consist__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burger-kkal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  width: 60px;
  height: 80px;
  left: 0;
  top: 80%;
  color: #fff;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .burger-kkal {
      top: 0;
      left: 80%; } }

.burger-kkal__pic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.burger-kkal__img {
  fill: #fff; }

.burger-kkal__number {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
  -ms-transform: translate(-50%, -15%);
  transform: translate(-50%, -15%); }

.burger-kkal__unit {
  font-size: 14px; }

.recipe {
  position: absolute;
  background: #fff;
  opacity: 0.9;
  border-radius: 5px;
  top: 0;
  left: 100%;
  width: auto;
  color: #2f3234;
  font-size: 0.875rem;
  text-transform: none;
  white-space: nowrap;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  padding: 1.25rem 1.5625rem;
  display: none; }

.recipe__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.recipe__product {
  font-weight: 700;
  text-align: left;
  padding: 0 1.25rem; }
  @media screen and (max-width: 480px) {
    .recipe__product {
      padding: 0 0.625rem; } }

.recipe__weight {
  text-align: right; }

.recipe__img {
  width: 45px;
  height: 45px; }
  .recipe__img--green {
    fill: #8ac03e; }
  .recipe__img--red {
    fill: #e35028; }
  .recipe__img--yellow {
    fill: #f9b43a; }

.close-btn {
  display: none;
  height: 20px;
  width: 20px; }
  @media screen and (max-width: 768px) {
    .close-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 40.625rem;
  width: 100%; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.review {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3.125rem 1.25rem;
  background-color: rgba(20, 20, 20, 0.8);
  opacity: 0;
  color: #ffffff;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  @media screen and (max-width: 768px) {
    .review {
      font-size: 0.875rem;
      padding: 0 12%;
      text-align: center; } }
  .review:hover {
    opacity: 1; }

.review__description {
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .review__description {
      display: none; } }

.review__title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1.5rem; }
  @media screen and (max-width: 768px) {
    .review__title {
      margin-bottom: 0.875rem; } }
  @media screen and (max-width: 480px) {
    .review__title {
      font-size: 1.5rem; } }

.button--review {
  background: #2f3234; }
  .button--review:hover {
    background: #252525; }
  @media screen and (max-width: 480px) {
    .button--review {
      display: none; } }

.button--review-show {
  display: none; }
  @media screen and (max-width: 480px) {
    .button--review-show {
      display: block;
      white-space: nowrap; } }

.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2f3234;
  opacity: 0.92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000; }

.review-popup {
  position: relative; }

.review-popup__content {
  width: 28.75rem;
  background: #fff;
  border-radius: 5px;
  padding: 1.875rem 1.25rem;
  color: #000;
  font-size: 0.875rem;
  margin: 0; }

.review-popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  text-decoration: none; }

.team {
  background-image: url("../img/bg/bg-team.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  color: #ffffff; }

.section__title--team {
  margin-bottom: 2.8125rem; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48%;
  background: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 7.125rem 5.9375rem 0 5.9375rem; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      padding: 0; } }

@media screen and (max-width: 768px) {
  .team__content {
    text-align: center; } }

.team-accordeon__trigger {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__trigger {
      font-size: 1.5625rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .team-accordeon__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43a;
    border-bottom-width: 0px;
    margin: 0 0.75rem; }

.team-accordeon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
  padding-left: 1.5625rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; } }

.team-accordeon__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 6.25rem;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__pic {
      margin: 0; } }

.team-accordeon__img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }

.team-accordeon__description {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%; }

.team-accordeon__description-title {
  font-weight: bold;
  margin-bottom: 1.25rem; }

.team-accordeon__description-content {
  font-weight: 300; }

.team-accordeon__item {
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .team-accordeon__item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team-accordeon__item--active .team-accordeon__trigger {
  color: #f9b43a; }
  .team-accordeon__item--active .team-accordeon__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-accordeon__item--active .team-accordeon__content {
  height: auto; }

.order {
  background-image: url("../img/bg/bg-order.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }
  .order .section__title {
    text-align: center; }
    @media screen and (max-width: 480px) {
      .order .section__title {
        white-space: normal; } }

.form__block-title {
  color: #ffffff;
  margin-bottom: 0.375rem; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  width: 100%; }
  .form__input:focus {
    border: 1px solid #f9b43a; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__textarea {
  border: none;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  width: 100%;
  resize: none; }
  .form__textarea:focus {
    border: 1px solid #f9b43a; }

.form__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .form__element {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 0; } }

.form__section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 1.25rem; }
  .form__section:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__section {
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .form__section {
      width: 100%;
      margin: 0; } }

.form__textarea {
  height: 6.875rem; }

.form-radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form-radio__input {
  position: absolute;
  top: 0;
  left: -624.9375rem; }

.form-radio__style {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffffff;
  position: relative; }
  .form-radio__style:after {
    content: "";
    display: block;
    position: absolute;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #e35028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form-radio__input:checked + .form-radio__style:after {
  width: 0.5rem;
  height: 0.5rem; }

.form-radio__title {
  font-size: 0.875rem;
  color: #ffffff;
  margin-left: 0.625rem; }

.form-checkbox .form-radio__style {
  border-radius: 0px; }

.form-checkbox .form-radio__input + .form-radio__style:after {
  background: transparent; }

.form-checkbox .form-radio__input:checked + .form-radio__style:after {
  background: url("../img/icons/check.png") 50% no-repeat transparent;
  background-size: contain;
  width: 0.6875rem;
  height: 0.5625rem; }

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .form__buttons {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.contacts {
  position: relative; }

.map {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.map__img {
  height: 100%;
  width: 100%; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0c0c0c;
  color: #ffffff;
  padding: 0.625rem 0; }

.footer__col {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__col {
      width: 100%;
      margin-top: 15px; } }

.footer__col--right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__col--right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__phone {
  color: #e35028;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.875rem;
  vertical-align: middle; }
  .footer__phone:before {
    content: "";
    width: 0.875rem;
    height: 0.875rem;
    background-image: url("../img/icons/phone.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    stroke: #e35028;
    display: inline-block;
    margin-right: 5px; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.socials__item {
  margin-right: 1.25rem; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: #ffffff; }

.socials__link {
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  max-width: 1.25rem;
  max-height: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .socials__link:hover {
    opacity: 1; }

.mobile-menu {
  position: fixed;
  background: #2f3234;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.625rem 1.25rem;
  display: none; }

.mobile-menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mobile-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mobile-menu__logo,
.mobile-menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .mobile-menu__nav .nav__item {
    display: block;
    position: relative; }
    .mobile-menu__nav .nav__item::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 2.5px;
      background-color: #fff;
      margin: 0; }
    .mobile-menu__nav .nav__item:last-child:after {
      display: none; }
  .mobile-menu__nav .nav__link {
    font-size: 1.5rem;
    line-height: 1.66;
    padding: 25px 0; }

.mobile-menu__btn {
  display: none;
  height: 20px;
  width: 20px; }
  @media screen and (max-width: 768px) {
    .mobile-menu__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

/*# sourceMappingURL=main.css.map */