.advantages {
  background-image: url('../img/bg/bg-advantage.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.section__title--advantages {
  color: #2f3234;
  padding: 0;
  margin-bottom: rem(60px);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  width: 33.3%;

  display: flex;
  flex-direction: column;
  
  @include phones {
    width: 100%;
    flex-direction: row;
    text-align: left;
  }  
}

.advantage__title {
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-size: rem(24px);
  margin-bottom: rem(15px);
}

.advantage__description {
  font-size: rem(14px);
  font-weight: rem(300px);
}

.advantage__icon {
  margin-bottom: rem(35px);

  @include phones {
    margin-right: rem(25px);
  }
}

.advantage__img {
  width: rem(100px);
  height: rem(100px);

  &--green {
    fill: $green;
  }

  &--red {
    fill: $red;
  }

  &--yellow {
    fill: $yellow;
  }
}