.burger-menu {
  background-image: linear-gradient($yellow, $centergradient 48%, $yellow 74%);

  .section__title {
    line-height: rem(64px);
    margin-bottom: rem(35px);
    white-space: normal;

    @include phones {
      font-size: rem(50px);
    }
  }
}

.burger-menu__left,
.burger-menu__right {
  flex-shrink: 3;
  display: flex;
}

.arrow__img--left {
  transform: rotate(90deg);
}

.arrow__img--right {
  transform: rotate(-90deg);
}

.container-burder-menu {
  flex-direction: row;
  justify-content: space-between;
}

.burger-slider {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;

  width: rem(880px);

  @include tablets {
    width: rem(630px); 
  }

  @include phones {
    width: rem(370px); 
  }  
}

.burger-slider__list {
  display: flex;
  position: relative;
  will-change: right;
  transition: right 0.3s;
}

.burger-slider__item {
  display: flex;
  width: rem(880px);

  @include tablets {
    width: rem(630px); 
  }  

  @include phones {
    width: rem(370px); 
  }   
}

.burger-menu__content {
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.burger-menu__logo {
  position: relative;

  @include tablets {
    padding-top: rem(150px);
  } 

  @include phones {
    padding-top: rem(100px);
  }
}

.burger-menu__logo,
.burger-menu__description {
  width: 50%;
  display: flex;

  @include tablets {
    width: 100%;
  }
}

.burger-menu__logo {
  align-items: center;

  @include tablets {
    margin-bottom: rem(40px);
  }

  @include phones {
    margin-bottom: rem(30px);
  }
}

.burger-menu__img {
  display: flex;
  width: 100%;
}

.burger-menu__description {
  flex-direction: column;
  align-items: center;
  
  @include tablets {
    text-align: center;
  }
}

.burger-menu__description-text {
  color: #fff;
  font-weight: 300;
  margin-bottom: rem(35px);

  @include phones {
    margin-bottom: rem(25px); 
  }
}

.burger-menu__price {
  display: flex;
  align-items: baseline;
}

.burger-menu__price-sum, 
.burger-menu__price_currency {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  color: $orange;
}

.burger-menu__price-sum {
  font-size: rem(72px);
  text-transform: uppercase;
  margin-right: 5px;

  @include phones {
    font-size: rem(50px);
  }  
}

.burger-menu__price_currency {
  font-size: rem(30px);
  text-transform: lowercase;
  margin-right: rem(25px);

  @include phones {
    font-size: rem(24px);
  }
}

.burger-consist {
  position: absolute;
  top: 0;
  left: 0;
}

.burger-consist__button {
  width: 90px;
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f08c33;
  border-radius: 5px;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  font-size: 14px; 
  color: #fff;
  padding: 10px 20px;  

  @include phones {
    width: 85px;
    height: 85px;   
  }  

  &:hover {
    background-color: $red;  

    .recipe {
      display: flex;
      justify-content: space-between;
    }
  }  
}


.burger-consist__pic
{
  display: flex;
  width: 100%;
  height: 100%;
}

.burger-consist__img {
  fill: #fff;
  width: 100%;
  display: flex;
}

.burger-consist__text {
  text-align: center;
  display: flex;
}

.burger-kkal {
  position: absolute;
  display: flex;
  opacity: 0.5;
  width: 60px;
  height: 80px;  
  left: 0;
  top: 80%;
  color: #fff;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  flex-direction: column;
  text-align: center;

  @include tablets {
    top: 0;  
    left: 80%;
  }
}

.burger-kkal__pic {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;  
}

.burger-kkal__img {
  fill: #fff;
}

.burger-kkal__number {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.burger-kkal__unit {
  font-size: 14px;
}

.recipe {
  position: absolute;
  background: #fff;
  opacity: 0.9;
  border-radius: 5px;
  top: 0;
  left: 100%;
  width: auto;
  color: $dark;
  font-size: rem(14px);  
  text-transform: none;
  white-space: nowrap;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  padding: rem(20px) rem(25px);
  display: none;
}

.recipe__list {
  display: flex;
}

.recipe__product {
  font-weight: 700;
  text-align: left;
  padding: 0 20px;
}

.recipe__weight {
  text-align: right;
}


.recipe__img {
  width: 45px;
  height: 45px;

  &--green {
    fill: $green;
  }

  &--red {
    fill: $red;
  }

  &--yellow {
    fill: $yellow;
  }
}

.close-btn {
  display: none;
  height: 20px;
  width: 20px;

  @include tablets {
    display: flex;
  }
}