.menu {
  background-image: url('../img/bg/bg-menu.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.section__title--menu {
  position: absolute;
	top: 10%;
  left: 10%;
  z-index: 1;
}

.menu__list {
  display: flex;
  z-index: 2;
}

.menu__item {
  display: flex;
  color: #ffffff;
  height: 100%;

  &--active {

    @include phones {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .menu__trigger {
        color: $yellow;
    }

    .menu__content {
        width: rem(540px);

        @include tablets {
          width: rem(525px);
        }

        @include phones {
          width: rem(400px); 
        }
    }
  }  
}

.menu__trigger {
  display: flex;
  align-items: flex-end;
  width: rem(80px);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: rem(40px);
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.menu__title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: rem(40px);
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100%;
  line-height: rem(24px);
  margin-bottom: rem(40px);
}

.menu__content {
  width: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: rgba($dark, .93);
  transition: width 2s;
}

.menu__text {
  font-weight: 300;
  font-size: rem(14px);
  padding: rem(60px) rem(35px);
  width: 100%;
  min-width: rem(540px);

  @include tablets {
    min-width: rem(525px);
  }

  @include phones {
    min-width: rem(400px); 
  }
}

.menu__close {
  position: absolute;
  top: rem(20px);
  right: rem(20px);
  display: none;
  height: 20px;
  width: 20px;
  
  @include phones {
    display: flex;
  }
}