.performance {
    background-image: url('../img/bg/bg-performance.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    padding: rem(15px) 0 rem(30px);
  }

  .container--performance {
    justify-content: space-between;
  }

  .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;     
  }

  .header__logo {
    margin-right: auto;
  }

  .logo {
    display: block;
  }

  .header__btn {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    vertical-align: middle;
    position: relative;
    height: rem(22px);
    align-items: center;
    margin-left: rem(28px);

    display: none;

    @include tablets {
      display: flex;
    }

  }

  .header__nav {
    @include tablets {
      display: none;
    }
  }

  .hamburger-menu__link {
    display: inline-flex;
    width: rem(30px);
    height: rem(30px);
  }

  .nav {
    margin-right: rem(20px);
  }

  .nav__item {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;

      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        @include circle(5px, #fff);
        margin: 0 12px;
      }

      &:last-child:after {
        display: none;
      }      
  }

  .nav__link {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.42;
      display: inline-block;
      vertical-align: middle;

      &::hover {
            text-decoration: underline;
      }
  }

  .performance__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include tablets {
      flex-direction: column;
      align-items: center;
      text-align: center;     
    }
  }


  .performance__logo, .performance__description {
    width: 50%;
    display: flex;

    @include tablets {
      width: 100%;
    }
  }

  .performance__logo {
    align-items: center;
  }

  .performance__img {
    display: flex;
    width: 100%;
  }
  
  .performance__description {
    flex-direction: column;
    justify-content: center;
  }
  
  .performance__description-text {
    color: #ffffff;
    font-family: 'Lifehack';
    font-size: rem(65px);
    font-weight: 400;
    line-height: 1;

    @include phones {
      font-size: rem(54px);  
    }
  }