.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: rem(650px);
  width: 100%;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.reviews__item {
  display: flex;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: grayscale(100%);

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.review {  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(50px) rem(20px);
  background-color: rgba(20, 20, 20, 0.8);
  opacity: 0;
  color: #ffffff;
  transition: opacity .3s;

  @include tablets {
    font-size: rem(14px);
    padding: 0 12%;
    text-align: center;
  }  

  &:hover {
    opacity: 1;
  }  
}

.review__description {
  font-weight: 300;
  font-size: rem(14px);
  margin-bottom: rem(20px);

  @include phones {
    display: none;
  }
}

.review__title {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: rem(14px);
  margin-bottom: rem(24px);

  @include tablets {
    margin-bottom: rem(14px);
  }

  @include phones {
    font-size: rem(24px);
  }
}

.button--review {
  background: #2f3234;

  @include phones {
    display: none
  }
}

.button--review-show {
  display: none;

  @include phones {
    display: block;
    white-space: nowrap;
  }
}

