.team {
  background-image: url('../img/bg/bg-team.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.section__title--team {
  margin-bottom: rem(45px);
}


.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 48%;
  background: rgba($dark, .93); 
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;  
  padding: rem(114px) rem(95px) 0 rem(95px);

  @include tablets {
    width: 100%; 
    padding: 0;
  }
}

.team__content {
  @include tablets {
    text-align: center;
  }
}

.team-accordeon__trigger {
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: rem(14px);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: rem(15px);

  @include tablets {
    font-size: rem(25px);
    justify-content: center;
  }  

  &:before {
    content: "";
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: $yellow;
    border-bottom-width: 0px;
    margin: 0 rem(12px);
  }  
}

.team-accordeon__content {
  display: flex;
  height: 0;
  overflow: hidden;
  padding-left: rem(25px);

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.team-accordeon__pic {
  display: flex;
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  flex-basis: 100%;
  max-width: rem(100px);
  margin-right: rem(20px);

  @include tablets {
    margin: 0;
  }
}

.team-accordeon__img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;  
}

.team-accordeon__description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.team-accordeon__description-title {
  font-weight: bold;
  margin-bottom: rem(20px);
}

.team-accordeon__description-content {
  font-weight: 300;
}

.team-accordeon__item {
  margin-bottom: rem(35px);

  @include tablets {
    justify-content: center;
  }
}

.team-accordeon__item--active {

  .team-accordeon__trigger {
    color: $yellow;

    &:before {
      transform: rotate(-180deg);
    }
  }

  .team-accordeon__content {
    height: auto; 
  }
}