.wrapper {
  position: relative;
  width: 100%; 
  height: 100vh;
  // min-width: rem(940px) + rem(20px);
  // min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  // min-height: rem(650px);

  position: absolute;
  top:0;
  will-change: top;
  transition: top 0.8s;
}

.container {
  max-width: rem(940px);
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  background-color: rgba(0,0,0,0.31);
  min-height: rem(650px);
  height: 100vh;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.button {
  min-width: rem(98px);
  padding: rem(10px) rem(17px);
  border-radius: 5px;
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  display: inline-block;
  &:hover {
    background-color: darken($orange, 7%);
  }

  &--clean {
    background-color: transparent;
    margin-left: rem(10px);
  }
}

.nav-sidebar {
  position: fixed;
  right: 5%;
  top: 10%;
  color: #fff;

  @include tablets {
    display: none;
  }
}

.nav-sidebar__link {
  position: relative;
  width: rem(6px);
  height: rem(6px);
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;

  &:hover {

    &:before {
      content: '';
      position: absolute;
      height: rem(18px);
      width: rem(18px);
      top: 0;
      left: 0;
      transform: translate(-38%, -38%);
      border-radius: 50%;
      border: 1px solid #cacaca;
      display: inline-block;
      vertical-align: middle;  
    }
  }
}

.nav-sidebar__link--active::before {
    content: '';
    position: absolute;
    height: rem(18px);
    width: rem(18px);
    top: 0;
    left: 0;
    transform: translate(-38%, -38%);
    border-radius: 50%;
    border: 1px solid #cacaca;
    display: inline-block;
    vertical-align: middle; 
}

.arrow__img {
  width: rem(40px);
  height: rem(40px);
}

.arrow__img--white {
  fill: #ffffff;
}

